
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


* { 
   padding: 0;
   margin: 0; 
}


body {
   width: 100%;
   height: 100%;
   background-color: black;
  
}

.container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   background-image: url("./img/backgorundPrincipal.jpg");
   background-size: 100% 100vh ;


}

.cabecalho {
   width: 100%;
   height: 50%;
   background-color: black;



}

.H1 {
   display: flex;
   align-items: center;
   flex-direction: column;
   font-family:'Chakra Petch', sans-serif; ;
   font-size: 30px;
   color: darkgreen;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
   
   
}


.texto {
   width: 25%;
   height: 60vh;
   display: flex;
   text-align: center;
   font-family: 'Chakra Petch', sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: black ;
   margin-top: 4%;
   margin-left: 4%;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.164);
}

p {
   padding: 6%;
   
}



.texto:hover {

   cursor: pointer;
   transition: 0.3s;
   transform: scale(1.1);

}

.comecar {
   width: 20%;
   height: 5%;
   text-align: center;
   font-family: 'Chakra Petch', sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: black;
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.164);
   margin-top: 50px;
   margin-left: 6%;

}


.comecar:hover {
   cursor: pointer;
   transition: 0.3s;
   transform: scale(1.1);
}
